<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding center text-center>

  <ion-list>

    <ion-item>
      <ion-input placeholder="Full Name" [(ngModel)]="fullname" required> </ion-input>
    </ion-item>

    <ion-item>
      <ion-input placeholder="Email" [(ngModel)]="email" required> </ion-input>
    </ion-item>

    <ion-item>
      <ion-input placeholder="Username" [(ngModel)]="username" required> </ion-input>
    </ion-item>

    <ion-item>
      <ion-input placeholder="Password" type="password" [(ngModel)]="password" required></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="full" (click)="goRegister()"> Register </ion-button>

</ion-content>
